{% extends 'core/base.html' %}
{% block content %}<div class="p-10 lg:p-20 text-center">
    <h1 class="text-3xl lg:text-6xl text-white">{{other}}</h1>
 </div>
 

 <div class="lg:w-2/4 mx-10 lg:mx-auto  p-10 bg-white rounded-xl place-items-center ">
    <div class="chat-messages space-y-3 " id="chat-messages">
      {% for message in messages %}
      
     <div class="p-4 bg-gray-200 rounded-xl">
      <p class="font-semibold ">{{message.sender}}</p>
      <p>{{message.message}}</p>
      <p>{{message.timestamp}}</p>
       
     </div>
      {% endfor %}
      </div>
      </div>

 <div class="lg:w-2/4 mt-6 mx-10 lg:mx-auto p-4 bg-white rounded-xl">
   <form class="flex" action="">
      <input type="text" style="outline: none;" name="content" class="flex-1 mr-3 " placeholder="your messages.." id="chat-message-input">

      <button class="px-8 py-3 rounded-xl text-white bg-teal-600 hover:bg-teal-700" id="chat-message-submit">
         send
      </button>
   </form>

 </div>
 {% endblock  %}   
 {% block scripts %}
 {{other.id|json_script:"json-otheruser"}}
 {{request.user.username|json_script:"json-username"}}
 
 <script>
 const id=JSON.parse(document.getElementById('json-otheruser').textContent)
 const userName=JSON.parse(document.getElementById('json-username').textContent)
 const socket=new WebSocket(
    'ws://'
    +window.location.host
    +'/personal'
    +'/ws/'
    + id
    +'/'
 );
 socket.onopen=function(e){

    console.log('connectionestablished')

 }
 socket.onmessage=function(e){
    const data= JSON.parse(e.data)
    
   if(data.message){
   let html='<div class="p-4 bg-gray-200 rounded-xl">'
     html+=' <p class="font-semibold ">' + data.username+' </p>'
     html+= '<p>'+data.message+'</p></div>'
     document.querySelector('#chat-messages').innerHTML+=html
     scrolltobottom()
   }else{
   alert('the message was empty')
}


 }
socket.onclose=function(e){
    console.log('connectionclosed')
}
socket.onerror=function(e){
  console.log('error in connection')
}
document.querySelector('#chat-message-submit').onclick=function(e){

e.preventDefault();
const messageinputdom=document.querySelector('#chat-message-input');
const message=messageinputdom.value;

socket.send(JSON.stringify({
            'message':message,
            'username':userName,
         }))
         messageinputdom.value='';
         return false
          

}
function scrolltobottom(){
         const obj=document.querySelector('#chat-messages')
         obj.scrollTop=obj.scrollHeight; 
      }
      scrolltobottom()
</script>

 {% endblock %}